<div class="container">  
    <header>      
      <nav class="navbar">
        <ul class="nav-list">                    
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="toys" routerLinkActive="active">Toys</a></li>                             
          <li><a routerLink="stocks" routerLinkActive="active">Stocks</a></li>  
          <li><a routerLink="orders" routerLinkActive="active">Orders</a></li>                    
        </ul>
      </nav>
    </header>
  
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  